<h3>Available Katas</h3>

<table class='table clickable_rows'>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Last Update</th>
    </tr>
  </thead>

  <tbody>

    <% @katas.each do |kata| %>
      <tr data-href='<%= kata_path( kata.id ) %>'>
        <td><%= kata.title %></td>
        <td><%= kata.user_name %></td>
        <td><%= datetime_to_date_and_time( kata.updated_at ) %></td>
      </tr>
    <% end %>

  </tbody>
</table>
