<h3>Available Katas</h3>

<table class='table table-striped table-hover table-condensed clickable_rows'>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Last Updated</th>
    </tr>
  </thead>

  <tbody>

    <% @katas.each do |kata| %>
      <tr data-href='<%= kata_path(kata.id) %>'>
        <td><%= kata.title %></td>
        <td><%= kata.description %></td>
        <td><%= datetime_to_date_and_time(kata.last_updated) %></td>
      </tr>
    <% end %>

  </tbody>
</table>
