// == FEEDBACK == //

@import "values";

.feedback_stream {
  @extend .basin;
  margin: 0 0 $dbl-space 0;
}

.feedback_container + .feedback_container {
  border-top: 1px solid $mid-border-color;
}

.feedback_container {
  background-color: $mid-bg-color;
  padding: $dbl-space;
  margin: 0;
}


/* FORM */

.feedback_form {
  @extend .basin;
  padding: $dbl-space;
  margin-top: $std-space;
  overflow: hidden;
}

.feedback_form .left {
  float: left;
  margin: 0;
}

.feedback_form .right {
  width: 286px;
  margin-left: $dbl-space;
  float: left;
}

.feedback_form textarea {
  width: 664px;
  height: 100px;
}

.feedback_form .error_message {
  width: 664px;
}

.feedback_form input[type="submit"] {
  float: right;
  margin-top: 10px;
}
