/* HEADER */

@import "values";

#header {
  padding: $std-space 0;
  background-color: #DDD;
  border-bottom: 1px solid #BBB;
}

#header .inner {
  @extend .max_width;
  @extend .centered;
  overflow: hidden;
  display: block;
  line-height: 45px;
}

#header #logo {
  font-family: PrimaryFontRegular, 'Trebuchet MS', sans-serif;
  float: left;
  padding-top: 5px;
  margin: 0;
}

#header #logo a {
  color: black;
  text-decoration: none;
}

#quicklinks {
  float: right;
  margin: 0;
}

#quicklinks > * {
  margin-left: 10px;
}
