// == INTERACTIONS == //

.clickable:hover {
  cursor: pointer;
}

.error_highlight {
  border: 1px solid red !important;
}

.error_message {
  display: block;
  color: red;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #666;
}
