// == KATA == //

@import "values";

.kata_container {
  @extend .max_width;
  @extend .centered;
}


/* HEADER */

.kata_container .header {
  position: relative;
}

.kata_container .header h2 {
}

.kata_container .header span.edit_link {
  position: absolute;
  bottom: 3px;
  right: 0;
}


/* EMBED */

.video_container {
  padding-top: $std-space;
  width: $std-width;
  @extend .centered;
}

.video_container iframe,
.video_container #embed_broken {
  width: 720px;
  height: 405px;
}

#embed_broken {
  background: #ccc;
  vertical-align: middle;
  text-align: center;
  display: table-cell;
}


/* DESCRIPTION */

.kata_container div.description {
  @extend .basin;
  padding: 20px;
  margin: $dbl-space 0 0 0;
}


/* SUPPLEMENTS */

.kata_supplements {
  margin-top: $dbl-space;
}


// NEW KATA //

.kata_form {
  @extend .basin;
  padding: $dbl-space;
  margin-top: $std-space;
}

.kata_form .controls {
  margin-left: 180px;
}

.kata_form input[type="text"], 
.kata_form textarea,
.kata_form .error_message {
  width: 356px;
  max-width: 356px;
}
