// == TYPOGRAPHY == //
@font-face {
  font-family: 'PrimaryFontRegular';
  src: url('quadrat_serial-regular.eot');
  src: url('quadrat_serial-regular.eot?#iefix') format('embedded-opentype'),
  url('quadrat_serial-regular.woff') format('woff'),
  url('quadrat_serial-regular.ttf') format('truetype'),
  url('quadrat_serial-regular.svg#quadrat_serialregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
